html, body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    font-size: 60px;
    background-color: #014E9E;
}

.table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
}

.table.departs tr:nth-child(2n) {
    background-color: #014E9E;
}

.table.departs tr:nth-child(2n+1),.departs {
    background-color: #03196C;
}

.table.arrivees tr:nth-child(2n) {
    background-color: #14402F;
}

.table.arrivees tr:nth-child(2n+1),.arrivees {
    background-color: #2B5B4B;
}

td:nth-child(1) {
    width: 10%;
}

td:nth-child(2) {
    width: 15%;
}

td:nth-child(3) {
    width: 75%;
}

.numTrain, .heureDepart, gareArrive {
    margin-right: 20px;
}

.numTrain {
    color: white;
    font-size: 22px;
}

.heureDepart {
    color: #ffe563;
}

.gareArrive {
    color: white;
    font-weight: bold;
}

.depart {
    font-size: 130px;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    right: 0;
    color: #334AD4;
    transform: translate(25%, -100%) rotate(-90deg);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

#clock {
    font-family: Ubuntu;
    position: absolute;
    bottom: 0px;
    right: 20px;
    padding: 10px 5px;
    border-radius: 15px 15px 0 0;
    border: 4px solid white;
    border-bottom-width: 0;
    background-color: #030943;
}

#hours, #minutes, #dot {
    font-size: 50px;
    color: white;
}

#seconds {
    font-size: 25px;
    color: #A3623A;
}

.marquee-text {
    font-family: Ubuntu;
    color: white;
}