<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'Départs de ' +  ${gare}"></title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body onload="startTime()">

<table class="table">
    <tr th:each="course : ${courses}">
        <td><span class="numTrain" th:text="${course.numTrain}"></span></td>
        <td><span class="heureDepart" th:text="${course.heureDepart}"></span></td>
        <td><span class="gareArrive" th:text="${course.gareArrive}"></span></td>
    </tr>
</table>
<div id="clock"></div>
<!--<span class="depart" &lt;!&ndash;th:classappend="${type == 'depart'}&ndash;&gt;">départ</span>-->

</body>
</html>